# Ignore Visual Studio Code files
.vscode/

# Ignore any notebook checkpoints
**/.ipynb_checkpoints/

# Ignore secrets (MongoDB URI, oAuth Keys)
src/secrets.js

# Ignore installed node libraries
node_modules/
